{% extends 'cafe/main.html' %}
{% load staticfiles %}

{% block content %}
    <section id="section-header">
        <h1>Menu</h1>
    </section>
    <article id="menu-detail">
        <div>
            <img src="{{ menu.image.url }}" alt="{{ menu.korean_name }}">
            <h1>{{ menu.korean_name }}</h1>
            <span>{{ menu.english_name }}</span>
            <p>{{ menu.summary }}</p>
        </div>
    </article>
    <aside id="menu-sidebar">
        <h1>제품영양정보</h1>
        <table>
            <tr>
                <td>열량(kcal)</td>
                <td>{{ menu.kcal }}kcal</td>
            </tr>
            <tr>
                <td>나트륨(g)</td>
                <td>{{ menu.salt }}g</td>
            </tr>
            <tr>
                <td>단백질(g)</td>
                <td>{{ menu.protein }}g</td>
            </tr>
            <tr>
                <td>지방(g)</td>
                <td>{{ menu.fat }}g</td>
            </tr>
        </table>
    </aside>
{% endblock %}